<div class="container" id="homeContainer">
    <div class="row">
        <div class="col-md-12">
            <img src="./style/bbclogo.png" id="bbcLogo">
        </div>
        <div class="col-md-12">
            <h1 id="homeTitle">Welcome to my News Scraper</h1>
            <h6 id="homeParagraph">Scrape news from BBC by just clicking the
                <i class="fas fa-microscope"></i> scrape-News button on top. You will have the option
                of adding, saving and modifying notes for each article</h6>
            <img src="./style/universe.jpg" id="universeImg">
        </div>
    </div>
</div>