<div id="wrapper">
    <img src="./style/bbclogo.png" id="bbcLogo" class="logoArticles">
    <hr><hr>
    <div id="articles"></div>
    <div id="notes"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./app.js"></script>